In [1]:
import pandas as pd
import numpy as np
import BostonHousing

In [2]:
dataset_file = 'BostonDataset.csv'

In [3]:
## load the dataset into a pandas dataframe
data_frame = pd.read_csv(dataset_file)

In [4]:
data_frame.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [5]:
print(data_frame.columns)

Index(['CRIM', ' ZN ', 'INDUS ', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'LSTAT', 'MEDV'],
      dtype='object')

In [6]:
# convert dataframe to np array
data_array = data_frame.to_numpy()
print(data_array.shape)

(506, 13)

In [7]:
# number of runs for each experiment (defined on the assignement paper)
N = 20
features_number = 13
test_split = round(((len(data_array)/3)/len(data_array)*100)/100,2)
print("Using " + str(test_split*100) + "% of the dataset dor testing and the rest " + str(round((1 - test_split),2)*100) + "% for the training")

Using 33.0% of the dataset dor testing and the rest 67.0% for the training

In [8]:
BostonHousing.fit_with_constant_function(features_number,data_array,test_split,N)

Initialization!
Average MSE for train and test set are: 79.65029489823448 and 94.13102988582577 respectively

In [9]:
BostonHousing.fit_with_one_feature(features_number,data_array,test_split,data_frame.columns,N)

Linear Regression with single Features - Results
Linear regression using attribute: CRIM MSE train: 69.35852464271915 MSE test:77.77398055361147
Linear regression using attribute:  ZN  MSE train: 71.28000426887608 MSE test:78.35954352516352
Linear regression using attribute: INDUS  MSE train: 62.1700161581425 MSE test:70.30869862233945
Linear regression using attribute: CHAS MSE train: 79.675554074682 MSE test:87.05740678993389
Linear regression using attribute: NOX MSE train: 66.75416050929098 MSE test:74.17863800297116
Linear regression using attribute: RM MSE train: 42.49208229353825 MSE test:46.55269529943128
Linear regression using attribute: AGE MSE train: 70.14028463417756 MSE test:77.68439714064758
Linear regression using attribute: DIS MSE train: 76.72214054308748 MSE test:84.70546346590336
Linear regression using attribute: RAD MSE train: 69.63628544035454 MSE test:77.68233791593148
Linear regression using attribute: TAX MSE train: 63.52630259208669 MSE test:71.18406562370912
Linear regression using attribute: PTRATIO MSE train: 60.51786508102363 MSE test:67.3288766409232
Linear regression using attribute: LSTAT MSE train: 36.90051985307126 MSE test:42.093209557994456

In [10]:
BostonHousing.fit_with_all_features(features_number,data_array,test_split,N)

Linear regression using all the features with MSE train: 22.67947973745087 MSE test: 23.129781099776782